<table></table>
<select class="tag-type">
  <option value="Task">Task</option>
  <option value="Section">Section</option>
  <option value="Pipeline">Pipeline</option>
  <option value="IgnoreAll">Ignore All</option>
  <option value="IgnoreCalls">Ignore Calls</option>
  <option value="IgnoreAccesses">Ignore Accesses</option>
  <option value="ProcessAll">Process All</option>
  <option value="ProcessCalls">Process Calls</option>
  <option value="ProcessAccesses">Process Accesses</option>
</select>
<input type="text" class="tag-name">
<button type="button" class="btn btn-default tag-add">Add</button>
