@import "colors";

g.callgraph {
  g.node {
    cursor: default;
    rect.call-bg {
      stroke-width: 0;
    }

    text.call-bg {
      font-weight: 100;
      font-family: Arial;
    }

    rect.count-bg {
      stroke-width: 1;
      fill: white;
    }

//    text.count {
//      fill: black;
//    }
  }

  g.edge {
    path {
      stroke-width: 0.5;
      fill-opacity: 0;
    }
  }

  g.bg-group > g > polygon {
    opacity: 0.5;
  }
}
