@import "colors";

g.callgraph {
  g.node {
    cursor: default;
    rect.call-bg {
      stroke-width: 1;
    }

    rect.count-bg {
      fill: white;
    }

    text.count {
      fill: black;
    }
  }

  g.edge {
    path {
      stroke-width: 0.5;
      fill-opacity: 0;
    }
  }

  g.bg-group > g > polygon {
    opacity: 0.5;
  }
}
