g.callgraph {
  text.collapsed-call {
    fill: blue;
  }

  text.expanded-call {
    fill:green;
  }

  text.ref {
    fill: red;
  }

  line.edge {
    opacity: 0.2;
  }

  line.edge-call {
    stroke: red;
  }

  line.edge-ref {
    stroke: blue;
  }
}
