@import 'bootstrap/variables';
@import 'bootstrap/mixins';

@import 'bootstrap/forms';

@import 'colors';

.view-header {
  width: 100%;
  height: 100%;
  background-color: $base02;
};

.view-header > select,input {
  display: inline;
  width: auto;
}

.view-container {
  width: 100%;
  height: 44vh;
  vertical-align: top;
  background-color: white;
  border: 1px;
  border-style: solid;
  border-color: $base02;
}

.view-container2 {
  width: 100%;
  height: 33vh;
  vertical-align: top;
  background-color: white;
  border: 1px;
  border-style: solid;
  border-color: $base02;
}

.view-container-half {
  width: 50%;
  display: inline-block;
}

.view-container > .flex {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.view-container > .flex > div {
  flex: 0 1 auto;
}

.view-container > .flex > .view {
  flex: 1 1 auto;

  // required to set height of svg
  position: relative;
  overflow-y: auto;
}

.view-container > .flex > .view > svg {
  height: 100%;
  width: 100%;

  // required to set height of svg
  position: absolute;
}

.view-container2 > .flex {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.view-container2 > .flex > div {
  flex: 0 1 auto;
}

.view-container2 > .flex > .view {
  flex: 1 1 auto;

  // required to set height of svg
  position: relative;
  overflow-y: auto;
}

.view-container2 > .flex > .view > svg {
  height: 100%;
  width: 100%;

  // required to set height of svg
  position: absolute;
}

div.html-title, div.html-menu {
  display: inline-block;
}

.line {
  font-size:  14px;
  paint-order: stroke;
  stroke: #fff;
  stroke-width: 5px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  font-weight: 200;
}
