@import 'bootstrap/variables';
@import 'bootstrap/mixins';

@import 'bootstrap/forms';

@import 'colors';

table.greytext {
  opacity: 0.4;
}

.view-header {
  width: 100%;
  height: 100%;
  background-color: white;
};

.view-header > select,input {
  display: inline;
  width: auto;
}

.view-container-performance {
  width: 100%;
  height: 24vh;
  vertical-align: top;
  background-color: white;
  border: 0px;
  border-style: solid;
  border-color: $base02;
}

.view-container-cct {
  position: absolute;
  z-index: 3;
  width: 70%;
  height: 74vh;
  vertical-align: top;
  background-color: white;
  border: 0px;
  border-style: solid;
  border-color: $base02;
}

.view-container-source {
  position: absolute;
  left: 70%;
  z-index: 2;
  width: 29.6%;
  height: 74vh;
  vertical-align: top;
  background-color: white;
  border: 0px;
  border-style: solid;
  border-color: $base02;
}

.view-container-detail {
  position: absolute;
  z-index: 10;
  width: 0%;
  height:0px;
  overflow:visible;
  pointer-events:none;
  background:none;
  vertical-align: top;
  background-color: white;
  border: 0px;
  border-style: solid;
  border-color: $base02;
}

.view-container-performance > .flex {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.view-container-performance > .flex > div {
  flex: 0 1 auto;
}

.view-container-performance > .flex > .view {
  flex: 1 1 auto;

  // required to set height of svg
  position: relative;
  overflow-y: auto;
}

.view-container-performance > .flex > .view > svg {
  height: 100%;
  width: 100%;

  // required to set height of svg
  position: absolute;
}

.view-container-cct > .flex {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.view-container-cct > .flex > div {
  flex: 0 1 auto;
}

.view-container-cct > .flex > .view {
  flex: 1 1 auto;

  // required to set height of svg
  position: relative;
  overflow-y: auto;
}

.view-container-cct > .flex > .view > svg {
  height: 100%;
  width: 100%;

  // required to set height of svg
  position: absolute;
}

.view-container-source > .flex {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.view-container-source > .flex > div {
  flex: 0 1 auto;
}

.view-container-source > .flex > .view {
  flex: 1 1 auto;

  // required to set height of svg
  position: relative;
  overflow-y: auto;
}

.view-container-source > .flex > .view > svg {
  height: 100%;
  width: 100%;

  // required to set height of svg
  position: absolute;
}

div.html-title, div.html-menu {
  display: inline-block;
}

.line {
  font-size:  14px;
  paint-order: stroke;
  stroke: #fff;
  stroke-width: 5px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  font-weight: 200;
}
